html {
    background-color: #A9A9A9;
    font-size: 10px;
    font-family: 'Roboto', 'Arial';
    font-weight: 400;
}

#main-container {
    width: 700px;
    margin: 10px 0 0 0;
    margin: auto;
    background-color: #E1E1E1;
}

header {
    background-color: #8E24AA;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    border-top: 70px solid #5C007A;
}

header img {
    padding: 4px;
}

header h1 {
    font-size: 30px;
    color: #FFF;
    text-align: left;
    /*padding-top: 3%;*/
    padding-left: 20%;
    text-shadow: 4px 4px 4px #333;
}

p, li {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

section {
    padding: 0 20px 20px 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 20px 5px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    text-align: center;
}

th {
    font-weight: bold;
    border: 1px solid #333;
    padding: 8px;
}

td {
    border: 1px solid #000;
    padding: 5px
}

tr {
    background-color: transparent;
}

tr:nth-of-type(2n+1) {
    background-color: #EEEEEE;
}

tr th {
    background-color: #DDDDDD;
}

tr {
    -moz-transition: background-color 300ms ease-in-out 0s;
    -ms-transition: background-color 300ms ease-in-out 0s;
    -o-transition: background-color 300ms ease-in-out 0s ;
    -webkit-transition: background-color 300ms ease-in-out 0s;
    transition: background-color 300ms ease-in-out 0s;
}

tr:hover {
    background-color: #FFF176;
}